<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<head>
  <meta charset="UTF-8">
  <title>Food Hygiene Ratings</title>
  <style>
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
      padding: 5px;
      text-align: left;
    }
    .center {
      margin: auto;
      width: 60%;
      padding: 10px;
      text-align: center;
    }
  </style>
</head>
<body>

<div class="center" ng-app="myApp" ng-controller="myCtrl">
  <h1>Food Hygiene Ratings</h1> 
  <p>Local Authorities</p>
  <select ng-model="selectedLocalAuthority" ng-options="x.Name for x in localAuthorities" ng-change="getRatingPercentages()">
    <option value="" selected disabled>Please select</option>
  </select>
  <p>
    <img id="mySpinner" src="images/loader.gif" ng-show="loading" />
  </p>
  <table class="center">
    <tr ng-show="table_header">
      <th>Rating</th>
      <th>Percentage</th>
    </tr>
    <tr ng-repeat="x in establishments">
      <td>{{ x.name }}</td>
      <td>{{ (x.count * 100 /  totalCount).toFixed(0) }}%</td>
    </tr>
  </table>
</div>

<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope, $http) {

//Initialise spinner
$scope.loading = false;
$scope.table_header = false;

//Get Local Authoritites and load the dropdown menu
  $http({
    method : "GET",
    url : "http://api.ratings.food.gov.uk/Authorities/basic", 
    headers: {
      "accept": "application/json",
      "x-api-version": 2
    }
  }).then(function mySucces(response) {
      $scope.localAuthorities = response.data.authorities;
    }, function myError(response) {
      $scope.localAuthorities = response.statusText;
  });

  //getRatingPercentages implementation 
  $scope.getRatingPercentages = function() {
   $scope.loading = true;
   $scope.table_header = false;
   $scope.establishments = "";
   $http({
    method : "GET",
    url : "http://api.ratings.food.gov.uk/Establishments?localAuthorityId=" + $scope.selectedLocalAuthority.LocalAuthorityId, 
    headers: {
      "accept": "application/json",
      "x-api-version": 2
    }
  }).then(function mySucces(response) {
      var items = {
        pass: {
          name: "Pass",
          count: 0
        },
        improvement_required: {
          name: "Improvement Required", 
          count: 0
        },
        awaiting_publication: {
          name: "Awaiting Publication", 
          count: 0
        },
        awaiting_inspection: {
          name: "Awaiting Inspection",
          count: 0
        }, 
        exempt: {
          name: "Exempt", 
          count: 0
        },
        five: {
          name: "5", 
          count: 0
        },
        four: {
          name: "4", 
          count: 0
        }, 
        three: {
          name: "3", 
          count: 0
        }, 
        two: {
          name: "2", 
          count: 0
        }, 
        one: {
          name: "1", 
          count: 0
        }, 
        zero: {
          name: "0", 
          count: 0
        }
      };
      angular.forEach(response.data.establishments, function(value, key) {
        //take into account "Pass an Eat" rating name as well. 
        if (value.RatingValue.startsWith(items.pass.name))
          items.pass.count = items.pass.count + 1;  
        if (value.RatingValue == items.improvement_required.name)
          items.improvement_required.count = items.improvement_required.count + 1;  
        if (value.RatingValue == items.awaiting_publication.name)
          items.awaiting_publication.count = items.awaiting_publication.count + 1;  
        if (value.RatingValue == items.awaiting_inspection.name)
          items.awaiting_inspection.count = items.awaiting_inspection.count + 1;
        if (value.RatingValue == items.exempt.name)
          items.exempt.count = items.exempt.count + 1;  
        if (value.RatingValue == items.five.name)
          items.five.count = items.five.count + 1;  
        if (value.RatingValue == items.four.name)
          items.four.count = items.four.count + 1;
        if (value.RatingValue == items.three.name)
          items.three.count = items.three.count + 1; 
        if (value.RatingValue == items.two.name)
          items.two.count = items.two.count + 1;
        if (value.RatingValue == items.one.name)
          items.one.count = items.one.count + 1;
        if (value.RatingValue == items.zero.name)
          items.zero.count = items.zero.count + 1;
      });
      $scope.totalCount = response.data.meta.totalCount;
      $scope.establishments = items;
      $scope.loading = false;
      $scope.table_header = true;
    }, function myError(response) {
      $scope.establishments = response.statusText;
      $scope.loading = false;
      $scope.table_header = true;
  });
   
}});
</script>

</body>
</html>